language: scala
jdk: oraclejdk8
matrix:
  include:
  - env: SBT_VERSION="0.13.16"
  - env: SBT_VERSION="1.0.0"
script:
- sbt "^^ ${SBT_VERSION}" test

# Build only master and version tags - http://stackoverflow.com/a/31882307/463761
branches:
  only:
    - master
    - /^v[0-9]/

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete

notifications:
  email:
    on_success: never
